<div class="container">
  <div class="dashboard_list">
    <div class="cat_list">
      <b>Cats I Have For Rent</b>
      <br>
      <% @cats.each do |cat| %>
          <div class="card card-with-image">
            <% if cat.photo.attached? %>
              <%= cl_image_tag cat.photo.key, class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%=cat.name%></h5>
              <%= link_to "View Profile", cat_path(cat), class:"btn btn-primary" %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="cat_list">
      <b>Cats I Am Renting</b>
    </div>
  </div>
 </div>




