<p><pre style="color: green"> /\_/\
( o.o )
 > ^ <</pre></p>


<div class="mx-auto card-body col-6 border">
  <h4 class="text-left card-title">Card title</h4>
  <h6 class="text-left card-subtitle">Card subtitle here</h6>
  <p class="text-left card-text">Dummy card</p>
  <p class="text-left card-text">(It's all bootstrap)</p>
  <a href="#" class="float-left card-link">This is a #-link</a>
</div>

<div class="mx-auto card-body col-6 border">
  <h4 class="text-left card-title">Card title</h4>
  <h6 class="text-left card-subtitle">Card subtitle here</h6>
  <p class="text-left card-text">Dummy card</p>
  <p class="text-left card-text">(It's all bootstrap)</p>
  <a href="#" class="float-left card-link">This is a #-link</a>
</div>

<div class="mx-auto card-body col-6 border">
  <h4 class="text-left card-title">Card title</h4>
  <h6 class="text-left card-subtitle">Card subtitle here</h6>
  <p class="text-left card-text">Dummy card</p>
  <p class="text-left card-text">(It's all bootstrap)</p>
  <a href="#" class="float-left card-link">This is a #-link</a>
</div>
