<p><pre style="color: green"> /\_/\
( o.o )
 > ^ <</pre></p>

<div class=container>
  <div>
    <% @cats.each do |cat| %>
    <% if cat.user_id = current_user.id %>

CARD!!!!!!!!!!


    <% end %>
    <% end %>
  </div>
</div>

<div class=container>
  <div>
    <% @bookings.each do |booking| %>
    <% if booking.user_id = @user.id %>

CARD!!!!!!!!!!


    <% end %>
    <% end %>
  </div>
</div>

