 <mochi-box shiba="sakura" mood="cute" blush
    left-eye="shy" right-eye="open"
    left-ear="down" right-ear="middle">
    <h2>さくら</h2>
    <h3>
      <a target="_blank" href="https://mochishiba.skj.jp/character/sakura">Sakura</a>
    </h3>
    <p class="shop uemachi" title="uemachi">うえまち団子</p>
  </mochi-box>
