<h1>CATS CATS CATS</h1>

<div class="card" style="width: 18rem;">
   <%= cl_image_tag "cat2.png", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">CAT NAME</h5>
    <p class="card-text">I like poeple who like to cuddle</p>
  </div>
  <ul class="list-group list-group-flush">
     <li class="list-group-item">Name</li>
    <li class="list-group-item">allergy </li>
    <li class="list-group-item">breed</li>
    <li class="list-group-item">gender</li>
     <li class="list-group-item">mood</li>
     <li class="list-group-item">Available</li>
  </ul>
  <div class="card-body">
    <a href="http://localhost:3000/cats/id" class="card-link">View Profile</a>
    <a href="http://localhost:3000/cats/id" class="card-link">Book Me</a>
  </div>
</div>



<a href="http://localhost:3000/cats/new" class="btn btn-primary">Register your cat</a>
